@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900');

:root {
  --main-bg-color: #333;
}

::-webkit-scrollbar {
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

body {
    margin: 0;
    background: #f8f8f8;
    color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* max-width: 1400px; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    /* border-left: 1px solid var(--main-bg-color);
    border-right: 1px solid var(--main-bg-color); */
}

a {
  color: steelblue
}

h1, h2, h3, h4, h5 {
  margin: 15px auto;
}

p {
  margin: 10px auto
}

.header {
    min-width: 60%;
    margin: 0 auto;
}

.header h1 {
    margin-top: 0;
    line-height: 90%;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 900;
}

.header div {
   white-space: pre;
  display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    max-width: 1400px;
    text-align: center;
    /* margin: 3vh 5vw; */
}

.svg {
    height: 70%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: center;
}

svg {
    height: 100%;
    width: 100%;
    position: center;

}
path.slice{
    stroke-width:2px;
}
text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
polyline{
    opacity: .3;
    stroke: var(--main-bg-color);
    stroke-width: 2px;
    fill: none;
}
.labelValue
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
    opacity: .5;
}
label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.toolTip {
    z-index: 10;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border-radius: 5px;
    box-shadow: 0 0 25px #555;
    font: 16px sans-serif;
    padding: 10px;
    text-align: center;
}
.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}
rect {
    stroke-width: 2;
}
text {

}
text.value{
    font-size: 200%;
    fill: white;
}
text.label{
    font-size: 100%;
}
.x.axis {
  font-size: 14px
}
.axis path{
    fill: none;
    stroke: var(--main-bg-color);
}
.axis line {
    fill: none;
    stroke: var(--main-bg-color);
    shape-rendering: crispEdges;
}
.axis .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}
.axisHorizontal path{
    fill: none;
}
.axisHorizontal line {
    fill: none;
    stroke: var(--main-bg-color);
    shape-rendering: crispEdges;
}
.axisHorizontal .tick line {
    stroke-width: 1;
    stroke: var(--main-bg-color);
}
.bar {
    /*fill: steelblue;*/
    fill-opacity: .9;
}
.x.axis path {
    display: none;
}

.direction-button {
  cursor: pointer;
  height: 50px;
  margin: auto
}

.direction-button.left { margin-right: 20px;}
.direction-button.right { margin-left: 20px;}

.tab {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.tab-innerwrap {
  height: 80px;
  overflow-y:hidden;
  overflow-x: scroll;
  background-color: #fff;
  max-width: 100%;
  font: 15px sans-serif;
  display: flex;
  display: flex;
}

.tab a {
    font-weight: bold;
    padding: 6px;
    width: 110px;
    flex-shrink: 0;
    background-color: inherit;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #888
}


.tab a.active {
    color: steelblue;
    border-top: 4px solid steelblue;
    background-color: #eee;
}


.tablinks {
  user-select: none;
    cursor:  -webkit-grab;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: auto;
    width: 100px;
    flex-grow: 1;

}

a:hover {
    background-color: #eee;
}

/* a:hover .info {

    display: block;
    background-color: white;
} */

.info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: 200px;
    height: auto;
    background: none repeat scroll 0 0 white;
    border-radius: 5px;
    box-shadow: 0 0 25px #555;
    font: 14px sans-serif;
    padding: 10px;
    text-align: center;
    margin-left: -280px;
    margin-top: 30px;
}


/*------- HEADER TIMELINE ---------*/
